# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\epam_tasks\demo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
